@font-face {
    font-family: 'Gill Sans';
    src: url('./assets/font/GIL_____.TTF');
}

@font-face {
    font-family: 'Gill Sans-Bold';
    src: url('./assets/font/gill-sans-mt-bold.ttf');
}

:root {
    --dark-bg: #000000;
    --light-bg: #FAF9FF;

    --primary: #2829C1;
    --secondary: #15151E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Gill Sans';
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

ol {
    counter-reset: item;
}

ol li {
    display: block;
    position: relative;
}

ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
    /* space between number and text */
}

ul,
li {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: var(--light-bg);
}

input {
    border: none;
    padding: 1rem 1rem;
    min-width: 400px;
}

button {
    border: none;
}

button:focus,
input:focus,
select:focus {
    outline: none;
}

select {
    background-color: var(--dark-bg);
    color: var(--light-bg);
}

a:hover {
    color: var(--light-bg);
}

section {
    padding: 6rem 0rem;
}

footer {
    background-image: linear-gradient(to bottom, #2728ba, #21258c, #1e1f60, #191736, #0d0d0d);
}

/*----GLOBAL STYLING----*/

.primaryBtn {
    padding: 1rem 2rem;
    color: var(--light-bg);
    background-color: var(--primary);
    border: solid 1px var(--primary);
}

.secondaryBtn {
    padding: 1rem 2rem;
    color: var(--light-bg);
    border: solid 1px var(--light-bg);
    background-color: rgba(245, 222, 179, 0);
}

.crd {
    height: calc(300px - 0.333333vw);
    width: calc(300px - 0.333333vw);
    background-color: var(--secondary);
    border-radius: 2px;
    border-bottom: solid 2px rgba(255, 255, 255, 0);
    transition: 0.2s ease-in-out;
}

.crd:hover {
    border-bottom: solid 2px var(--primary);
    transition: 0.2s ease-in-out;
}

.icon-seg {
    color: var(--light-bg);
    transition: 0.2s ease-in-out;
}

.crd:hover .icon-seg {
    color: var(--primary) !important;
    transition: 0.2s ease-in-out;
}

.img-hov {
    box-shadow: 25px 25px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.2s ease-in-out;
}

.img-hov:hover {
    -webkit-box-shadow: 15px 15px 0px 0px rgba(40, 41, 193, 1);
    -moz-box-shadow: 15px 15px 0px 0px rgba(40, 41, 193, 1);
    box-shadow: 15px 15px 0px 0px rgba(40, 41, 193, 1);
    transition: 0.5s ease-in-out;
}

.scrollup {
    border-radius: 50%;
    border: 2px solid var(--primary);
    height: 60px;
    width: 60px;
    background-color: #00000054;

}

/*--nav--*/
.nav1 {
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    z-index: 100;
}

.nav1.hide {
    top: -100px
}

.nav2,
.nav1 {
    background-color: var(--dark-bg);
}

.nav2 {
    display: none !important;
}

.navButton {
    background-color: var(--light-bg);
    padding: 0.5rem 1rem;
    color: var(--dark-bg);
    border: solid 0.5px var(--light-bg);
    transition: 0.5s ease-in-out;
}

.navButton:hover {
    color: var(--light-bg);
    background-color: rgba(245, 222, 179, 0);
    border: solid 0.5px var(--light-bg);
    transition: 0.5s ease-in-out;
}

.logo {
    max-width: 180px;
}

.menuItem {
    padding: 0.5rem 1rem;
    transition: 0.25s ease-in-out;
}

.menuItem:hover {
    color: var(--dark-bg);
    background-color: var(--light-bg);
    transition: 0.25s ease-in-out;
}

.fS-1 {
    font-size: calc(3rem - 0.33333vw);
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to bottom, #000000, #090809, #111010, #161515, #1b1a1a);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: 0.2s ease-in-out;
}

.dropdown-content a {
    color: var(--light-bg);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2E2E2E;
    border-left: solid 2px var(--primary);
    transition: 0.2s ease-in-out;
}

.dropDown:hover .dropdown-content {
    display: block;
    transition: 0.2s ease-in-out;
}

/*------*/
.body-list li {
    margin-bottom: 3rem !important;
    list-style-type: '-  ';
    list-style-position: inside;
}

.info {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border: solid 0.5px var(--primary);
    transition: 0.25s ease-in-out;
}

.info:hover {
    border: solid 0.5px var(--primary);
    background-color: #00000000;
    transition: 0.25s ease-in-out;
}

.img-placeholder {
    background-color: var(--light-bg);
    height: 100%;
    min-width: 450px;
    border-radius: 10px;
}

@media (max-width:1024px) {
    .img-placeholder {
        min-width: 300px;
        max-height: 500px;
    }
}

.list-style {
    list-style: disc;
    list-style-position: inside;
}

.poly {
    clip-path: polygon(0% 0%, 75% 0%, 85% 50%, 75% 100%, 0% 100%);
    background-color: var(--primary);
    height: 60px;
    width: 300px;
}

.arrow1,
.arrow2 {
    clip-path: polygon(40% 10%, 40% 0%, 95% 50%, 40% 100%, 40% 90%, 85% 50%);
    background-color: var(--dark-bg);
    height: 50px;
    width: 45px;
    position: relative;
}

.arrow1 {
    left: 250px;
}

.arrow2 {
    left: 225px;
}


#whitebg {
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1;
}

#blackbg {
    position: absolute;
    background: black;
    width: 100%;
    z-index: 2;
}

#makered {
    position: absolute;
    background-color: black;
    mix-blend-mode: screen;
    width: 100%;
    z-index: 4;
}

#hidden {
    position: absolute;
    display: none;
    width: 100%;
}

.hero-text,
.hero-text-xl {
    mix-blend-mode: difference;
    color: white;
    z-index: 3;
}

.hero {
    height: 100%;
}

.hero-text {
    font-weight: 600;
    line-height: 1;
}

.scrollImg {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    margin-bottom: 4rem;
    height: 400px;
    width: 300px;
}

.fade {
    opacity: 1;
    color: white;
}

/*KnowledgeBase*/
.sideNav {
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    height: 100%;
}

.actv {
    background-color: var(--secondary);
    border-left: solid 2px var(--primary) !important;
}

.acc-men {
    padding: 0.5rem 1rem !important;
    border-left: solid 1px rgba(255, 255, 255, 0);
    transition: 0.2s ease-in-out;
}

.acc-men:hover {
    background-color: var(--secondary);
    border-left: solid 2px var(--primary);
    transition: 0.2s ease-in-out;
    padding: 0.5rem 1rem;
}

/* partners section */
#partners-container{
    display: flex;
    overflow-x: auto;
    align-items: center;
}

#partners-container::-webkit-scrollbar {
    display: none;
  }

#partners-container img{
    padding: 0 100px;
}

/* mobile links */
#mobile-links img{
    cursor: pointer;
}
#mobile-links img:hover{
    transform: translate(0px, -10px);
    transition: 0.2s ease-in-out;
}

/*MEDIA QUERIES*/

@media (min-width:1441px) {

    #whitebg {
        height: calc(800px + 0.33333vw) !important;
    }

    #blackbg,
    #makered {
        height: calc(440px + 0.33333vw) !important;
    }

    .hero-text {
        font-size: calc(10rem + 00.33333vw);
    }

    .hero-text-xl {
        font-size: calc(40rem + 00.33333vw);
    }

    .sideNav {
        min-width: 300px;
    }

    .topNav {
        display: none;
    }

    .h-scroll {
        display: none;
    }

    .mockup2 {
        display: none !important;
    }
}


@media (min-width:1025px) and (max-width:1440px) {
    #whitebg {
        height: calc(490px + 0.33333vw);
    }

    #blackbg,
    #makered {
        height: calc(305px + 0.33333vw);
    }

    .hero-text {
        font-size: calc(7rem + 00.33333vw);
    }

    .hero-text-xl {
        font-size: calc(26rem + 00.33333vw);
    }

    .sideNav {
        min-width: 300px;
    }

    .topNav {
        display: none;
    }

    .h-scroll {
        display: none;
    }

    .mockup2 {
        display: none !important;
    }
}

@media (min-width:770px) and (max-width:1024px) {
    #whitebg {
        height: calc(410px + 0.33333vw);
    }

    #blackbg,
    #makered {
        height: calc(215px + 0.33333vw);
    }

    .hero-text {
        font-size: calc(6rem + 00.33333vw);
    }

    .hero-text-xl {
        font-size: calc(22rem + 00.33333vw);
    }

    .sideNav {
        display: none;
    }

    .topNav {
        display: block;
    }

    .topNav div {
        overflow-x: scroll;
    }

    .h-scroll {
        display: none;
    }

    .mockup2 {
        display: none !important;
    }

}

@media (min-width:577px) and (max-width:769px) {
    #whitebg {
        height: calc(410px + 0.33333vw);
    }

    #blackbg,
    #makered {
        height: calc(215px + 0.33333vw);
    }

    .hero-text {
        font-size: calc(3rem + 00.33333vw);
    }

    .hero-text-xl {
        font-size: calc(22rem + 00.33333vw);
    }

    .nav1 {
        display: none !important;
    }

    .nav2 {
        display: flex !important;
        z-index: 1000;
        position: relative;
    }

    .poly {
        height: 50px;
        width: 200px;
    }

    .arrow1,
    .arrow2 {
        height: 40px;
        width: 30px;
    }

    .arrow1 {
        left: 170px;
    }

    .arrow2 {
        left: 130px;
    }


    .sideNav {
        display: none;
    }

    .s-scroll {
        display: none;
    }

    .mockup {
        display: none !important;
    }


}

@media (max-width:576px) {
    body {
        overflow-x: hidden !important;
    }

    input {
        min-width: 200px;
    }

    section {
        padding: 3rem 0rem;
    }

    .nav1 {
        display: none !important;
    }

    .nav2 {
        display: flex !important;
        z-index: 1000;
        position: relative;
    }


    .fS-1 {
        font-size: 8vw;
    }

    #whitebg,
    #blackbg,
    #makered,
    .hero-text-xl {
        display: none;
    }

    #hidden {
        display: block;
        width: 100%;
        height: 25%;
        background-image: linear-gradient(to top left, #ffffff 50%, #000000 50%);
    }

    .logo {
        max-width: 100px;
    }

    .hero-text {
        font-size: calc(2rem + 00.33333vw);
        color: #ffffff;
        mix-blend-mode: normal;
    }

    .h-t-a {
        color: #000000;
    }

    .poly {
        height: 50px;
        width: 200px;
    }

    .arrow1,
    .arrow2 {
        height: 40px;
        width: 30px;
    }

    .arrow1 {
        left: 170px;
    }

    .arrow2 {
        left: 130px;
    }

    .crd {
        width: 180px;
        height: 180px;
    }

    .sideNav {
        display: none;
    }

    .topNav {
        display: block;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--dark-bg);
    }

    .topNav div {
        overflow-x: scroll;
    }

    .s-scroll {
        display: none;
    }

    .mockup {
        display: none !important;
    }
    #partners-container img{
        padding: 0 50px;
    }
    #mobile-links img{
        width: 6rem;
    }
}


/* swipper - start */

.swiper {
    width: 340px;
    height: 440px;
   }

   .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #4240bf3f;
   }

   
   .swiper-slide-active{
    background-color: #4240BF;
   }

/* content card */
     
 .card_container{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
 }
 .card_header{
   text-align: center;
   font-weight: bold;
   font-size: large;
   /* letter spacing */
   letter-spacing: 1px;
 }
 .card_body, .card_footer{
   text-align: center;
   font-size: medium;
   font-weight: lighter;
 }
 .card_button {
   background: transparent;
   color: #fff;
   border: 1px solid #fff;
   border-radius: 20%;
   cursor: pointer;
   padding: 0.2rem 0.6rem;
 }
 .card_button:hover {
   background: rgb(232, 232, 232);
   color: #000000;
 }

 /* controllers */
 .controllers{
   display: flex;
   justify-content: space-evenly;
   margin-top: 1rem;
 }
 .move_control, .shuffle_control{
   background: #4240BF;
   color: #fff;
   border: none;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: normal;
   cursor: pointer;
   border-radius: 20%;
 }
 .shuffle_control{
   background-color: #4240BF;
   color: #fff;
 }
 .shuffle_control:hover{
   background-color: #282c73;
 }
 .move_control:hover{
   background-color: #ffffff;
   color: #4240BF;
 }
/* swipper - end */

/* media query for mobile */
@media (max-width: 768px) {
    .swiper {
        width: 75vw;
        height: 75vh;
    }
    
}