<div style="background-color: var(--dark-bg)">
  <section>
    <div class="d-flex flex-column align-items-center gap-5 py-5 px-lg-0 px-3">
      <h1 class="text-muted text-center">ABOUT US</h1>
      <p class="fS-1 text-center text-light">
        Opening up access of Angel <br />
        Investing to Everyone
      </p>
      <p class="text-center text-light fs-4">
        Pepcorns enables everyday people to become angel investors by giving
        them access to startup investment opportunities
      </p>
      <div class="d-flex flex-row gap-3">
        <a href="#!/knowledgebase/investors">
          <button class="secondaryBtn">Learn More</button>
        </a>
        <a href="https://app.pepcorns.com/#!/signup">
          <button class="primaryBtn">Get Started</button>
        </a>
      </div>
      <img
        class="mt-5 img-fluid px-lg-0 px-3"
        src="./assets/about_!.svg"
        alt=""
      />
    </div>
  </section>

  <section>
    <div
      class="p-4 p-sm-5 m-0 m-md-5 d-flex flex-row flex-wrap gap-5 gap-lg-0 justify-content-around"
    >
      <div class="d-flex flex-column gap-5">
        <h1 class="text-light fS-1">Opening oppurtunities</h1>
        <p class="text-light fs-4 text-justify">
          Pepcorns helps businesses raise capital from everyday people - their
          customers, friends, family and the peppy investors who believe in
          common goals. Pepcorns is solely reward based funding platform, and
          startup raise funds by rewarding investors. SAFE notes are among other
          rewards served by the incorporated company to accredited investors.
        </p>
        <div class="d-flex flex-row gap-3">
          <a href="#!/knowledgebase/company">
            <button class="secondaryBtn">Learn More</button>
          </a>
          <a href="https://app.pepcorns.com/#!/signup">
            <button class="primaryBtn">Start Investing</button>
          </a>
        </div>
      </div>
      <img src="./assets/about_2.svg" class="img-fluid" alt="" />
    </div>
  </section>

  <section>
    <h1 class="text-light text-center">Our Vision</h1>
    <div
      class="p-md-5 p-2 d-flex flex-column align-items-center gap-2 gap-sm-5"
    >
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
        <div class="col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Transparent and Easy</p>
          <p class="text-light">
            We create a secure place to transact and we provide clear
            information so you can make your best investment decisions
          </p>
        </div>

        <div class="col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Do the Right Thing</p>
          <p class="text-light">
            We protect our reputation and do right by our customers and
            investors
          </p>
        </div>

        <div class="col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Democratize the Startup Ecosystem</p>
          <p class="text-light">
            Opportunities should not be limited to premium clubs, we adhere to
            fair play
          </p>
        </div>

        <div class="col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Support innovator for future</p>
          <p class="text-light">
            By giving entrepreneurs access to investors, we make it possible for
            businesses to get off the ground, grow, and start making things that
            people love
          </p>
        </div>

        <div class="col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Team Player - Sporty</p>
          <p class="text-light">
            A team with unselfish players who support each other wil generally
            perform better than a group of indivisuals that does not play as a
            team
          </p>
        </div>

        <div class="col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">
            Enabling entrepreneurs and investors to work together to build value
          </p>
          <p class="text-light">
            Opens line of communication keep investors updated and allow them to
            collaborate with entrepreneurs and accelerate innovation
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex flex-column gap-5 p-5 justify-content-center">
      <h1 class="text-light text-center fS-1">Why Business need Crowd</h1>
      <p class="text-light text-center fs-5">
        We are addressing the socio-economic crisis, and want the society to
        benefit from capitalism. When the community invests, everyone benefits
        not just a few VCs, fund managers or brokers. As people will join in
        realizing potential, this will significantly give an opportunity to
        underrepresented founders to grow and set an example.
      </p>
      <span class="text-center">
        <button class="secondaryBtn">Learn More</button></span
      >
      <div
        class="d-flex flex-row flex-wrap gap-5 gap-lg-0 justify-content-around"
      >
        <div
          class="d-flex flex-column align-items-center justify-content-between gap-4"
        >
          <p class="fs-1 text-light text-center">
            Access to <br />
            Control
          </p>
          <p class="text-light text-center h-25">
            There are nearly lacks of startup <br />
            in India that need funds to get <br />
            started. A great idea should't fail <br />
            because they can't raise the <br />
            money to develop.
          </p>
          <img src="./assets/about_3.svg" alt="" class="h-25" />
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-between gap-4"
        >
          <p class="fs-1 text-light text-center">
            Finance is <br />
            Outdated
          </p>
          <p class="text-light text-center h-25">
            Existing financing options such as <br />
            private equity and venture capital <br />
            can't fund all of these businesses. <br />
            Thats where we come in.
          </p>
          <img src="./assets/about_4.svg" alt="" class="h-25" />
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-between gap-4"
        >
          <p class="fs-1 text-light text-center">
            Democratising <br />
            Funding
          </p>
          <p class="text-light text-center h-25">
            We believe that any driven <br />
            entrepreneur with great idea <br />
            should be able to rasie capital. <br />
            We have built a platform where <br />
            they can pitch their business <br />
            directly to the crowd.
          </p>
          <img src="./assets/about_5.svg" class="h-25 mt-5" alt="" />
        </div>
      </div>
    </div>
  </section>

  <hr class="text-light" />

  <section>
    <h1 class="text-light text-center fS-1">
      Meet the Minds shaping your <br />
      Portfolio
    </h1>
    <div
      class="row row-cols-lg-4 row-cols-md-2 row-cols-1 justify-content-center p-5 my-5"
    >
      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/ash.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Ashish Pathak</p>
        <p class="fs-5 text-muted">Founder | Director</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/ashishpathak0513/"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://www.instagram.com/be.raw_/"
            ><img
              src="./assets/instagram.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://twitter.com/AshishPathak_13"
            ><img
              src="./assets/twitter.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>

      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/ar1.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Arya Rajurkar</p>
        <p class="fs-5 text-muted">Growth hacker</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/arya-rajurkar-6263991bb"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://instagram.com/aryarajurkar26?igshid=MDM4ZDc5MmU="
            ><img
              src="./assets/instagram.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a
            href="https://twitter.com/aryarajurkar26?s=21&t=Xh35uynu_6lBA4yb25qZPg"
            ><img
              src="./assets/twitter.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>

      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/ani1.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Aniruddh Sharma</p>
        <p class="fs-5 text-muted">Educator</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/aniruddh-sharma-2aa901222"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://instagram.com/aniruddhsharma.1"
            ><img
              src="./assets/instagram.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://twitter.com/Imfirehawk"
            ><img
              src="./assets/twitter.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>

      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/shre1.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Shrey Rastogi</p>
        <p class="fs-5 text-muted">Startup Analyst</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/shrey-rastogi5"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://instagram.com/_shreyrastogi_"
            ><img
              src="./assets/instagram.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://twitter.com/Imfirehawk"
            ><img
              src="./assets/twitter.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>

      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/ashm1.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Ashmita Barua</p>
        <p class="fs-5 text-muted">UI/UX Designer</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/ashmitabarua/"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>

      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/vin.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Vineeth G</p>
        <p class="fs-5 text-muted">Developer</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/vineethvg/"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://www.instagram.com/_.vin_e_eth._/"
            ><img
              src="./assets/instagram.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://twitter.com/laz__en"
            ><img
              src="./assets/twitter.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>

      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/joy1.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Joy Silvester Almeida</p>
        <p class="fs-5 text-muted">Developer</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/joy-almeida0"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>

          <a href="https://twitter.com/_j0sal"
            ><img
              src="./assets/twitter.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>

      <div class="col d-flex flex-column align-items-center gap-1 my-5">
        <img src="./assets/team/par1.png" alt="" class="img-hov" />
        <p class="fs-2 text-light">Paridhi Agarwal</p>
        <p class="fs-5 text-muted">Legal Intern</p>
        <div class="d-flex flex-row gap-4 align-items-center">
          <a href="https://www.linkedin.com/in/paridhi-agarwal-026708206"
            ><img
              src="./assets/linkedin.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://www.instagram.com/paridhiagarwal_/"
            ><img
              src="./assets/instagram.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
          <a href="https://mobile.twitter.com/its_paridhi"
            ><img
              src="./assets/twitter.svg"
              alt=""
              style="width: 20px; opacity: 40%"
          /></a>
        </div>
      </div>
    </div>
  </section>
</div>
