<div style="background-color: var(--dark-bg)">
  <section>
    <div class="d-flex flex-column align-items-center gap-5 py-5">
      <h1 class="text-muted text-center">ABOUT US</h1>
      <p class="fS-1 text-center text-light">
        Opening up access of Angel <br />
        Investing to Everyone
      </p>
      <p class="text-center text-light fs-4">
        Pepcorns enables everyday people to become angel investors by giving
        them access to startup investment opportunities
      </p>
      <div class="d-flex flex-row gap-3">
        <button class="secondaryBtn">Learn More</button>
        <button class="primaryBtn">Get Started</button>
      </div>
      <img class="mt-5" src="./assets/about_!.svg" alt="" />
    </div>
  </section>

  <section>
    <div class="p-5 m-5 d-flex flex-row justify-content-around">
      <div class="d-flex flex-column gap-5">
        <h1 class="text-light fS-1">Opening oppurtunities</h1>
        <p class="text-light fs-4">
          Pepcorns helps businesses raise capital from everyday people - their
          <br />
          customers, friends, family and the peppy investors who believe in
          common <br />
          goals. Pepcorns is solely reward based funding platform, and startup
          raise <br />
          funds by rewarding investors. SAFE notes are among other rewards
          served <br />
          by the incorporated company to accredited investors.
        </p>
        <div class="d-flex flex-row gap-3">
          <button class="secondaryBtn">Learn More</button>
          <button class="primaryBtn">Start Investing</button>
        </div>
      </div>
      <img src="./assets/about_2.svg" alt="" />
    </div>
  </section>

  <section>
    <h1 class="text-light text-center">Our Vision</h1>
    <div class="p-5 d-flex flex-column align-items-center gap-5">
      <div class="row gap-5">
        <div class="crd col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Transparent and Easy</p>
          <p class="text-light">
            We create a secure place to transact and we provide clear
            information so you can make your best investment decisions
          </p>
        </div>
        <div class="crd col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Do the Right Thing</p>
          <p class="text-light">
            We protect our reputation and do right by our customers and
            investors
          </p>
        </div>
        <div class="crd col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Democratize the Startup Ecosystem</p>
          <p class="text-light">
            Opportunities should not be limited to premium clubs, we adhere to
            fair play
          </p>
        </div>
      </div>

      <div class="row gap-5">
        <div class="crd col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Support innovator for future</p>
          <p class="text-light">
            By giving entrepreneurs access to investors, we make it possible for
            businesses to get off the ground, grow, and start making things that
            people love
          </p>
        </div>
        <div class="crd col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">Team Player - Sporty</p>
          <p class="text-light">
            A team with unselfish players who support each other wil generally
            perform better than a group of indivisuals that does not play as a
            team
          </p>
        </div>
        <div class="crd col d-flex flex-column gap-3 p-4">
          <span class="material-symbols-outlined fS-1 text-light">
            memory
          </span>
          <p class="fs-4 text-light">
            Enabling entrepreneurs and investors to work together to build value
          </p>
          <p class="text-light">
            Opens line of communication keep investors updated and allow them to
            collaborate with entrepreneurs and accelerate innovation
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex flex-column gap-5 p-5 justify-content-center">
      <h1 class="text-light text-center fS-1">Why Business need Crowd</h1>
      <p class="text-light text-center fs-5">
        We are addressing the socio-economic crisis, and want the society to
        benefit from capitalism. When the community invests, everyone benefits
        not just a few VCs, <br />
        fund managers or brokers. As people will join in realizing potential,
        this will significantly give an opportunity to underrepresented founders
        to grow and <br />
        set an example.
      </p>
      <span class="text-center">
        <button class="secondaryBtn">Learn More</button></span
      >
      <div class="d-flex flex-row justify-content-around">
        <div
          class="d-flex flex-column align-items-center justify-content-between gap-4"
        >
          <p class="fs-1 text-light text-center">
            Access to <br />
            Control
          </p>
          <p class="text-light text-center">
            There are nearly lacks of startup <br />
            in India that need funds to get <br />
            started. A great idea should't fail <br />
            because they can't raise the <br />
            money to develop.
          </p>
          <img src="./assets/about_3.svg" alt="" />
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-between gap-4"
        >
          <p class="fs-1 text-light text-center">
            Finance is <br />
            Outdated
          </p>
          <p class="text-light text-center">
            Existing financing options such as <br />
            private equity and venture capital <br />
            can't fund all of these businesses. <br />
            Thats where we come in.
          </p>
          <img src="./assets/about_4.svg" alt="" />
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-between gap-4"
        >
          <p class="fs-1 text-light text-center">
            Democratising <br />
            Funding
          </p>
          <p class="text-light text-center">
            We believe that any driven <br />
            entrepreneur with great idea <br />
            should be able to rasie capital. <br />
            We have built a platform where <br />
            they can pitch their business <br />
            directly to the crowd.
          </p>
          <img src="./assets/about_5.svg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <hr class="text-light" />

  <section>
    <h1 class="text-light text-center fS-1">
      Meet the Minds shaping your <br />
      Portfolio
    </h1>
    <div class="d-flex flex-row gap-5 justify-content-center py-5 my-5">
      <div class="d-flex flex-column align-items-center gap-3">
        <img src="./assets/team02.png" alt="" />
        <p class="fs-1 text-light">Anandi Pathak</p>
        <p class="fs-5 text-muted">Director</p>
      </div>
      <div class="d-flex flex-column align-items-center gap-3">
        <img src="./assets/team01.png" alt="" />
        <p class="fs-1 text-light">Ashish Pathak</p>
        <p class="fs-5 text-muted">Founder | Director</p>
      </div>
    </div>
  </section>
</div>
