<div class="d-flex justify-content-center p-sm-5 p-1 mt-5">
  <section
    style="background-color: var(--dark-bg)"
    class="p-sm-5 p-4 rounded mt-5"
    id="#contact"
  >
    <h1 class="text-light">Get in Touch</h1>
    <p class="text-muted">
      For any query and information please reach out to us at below details
    </p>
    <hr />
    <div class="d-flex flex-column gap-5">
      <div class="d-flex flex-row align-items-center gap-sm-5 gap-4">
        <span
          class="material-symbols-outlined rounded-circle p-3 bg-light textsize1"
        >
          location_on
        </span>
        <div class="text-light">
          <p class="textsize4"><strong>Visit Us :</strong></p>
          <p>193 C Block, Panki, Kanpur, UP</p>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center gap-sm-5 gap-4">
        <span
          class="material-symbols-outlined rounded-circle p-3 bg-light textsize1"
        >
          mail
        </span>
        <div class="text-light">
          <p class="textsize4"><strong>Mail us:</strong></p>
          <p><a href="mailto:team@pepcorns.com">team@pepcorns.com</a></p>
          <p><a href="mailto:support@pepcorns.com">support@pepcorns.com</a></p>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center gap-sm-5 gap-4">
        <span
          class="material-symbols-outlined rounded-circle p-3 bg-light textsize1"
        >
          call
        </span>
        <div class="text-light">
          <p class="textsize4"><strong>Call us:</strong></p>
          <p><a href="callto:+91 88728 06269">+91 88728 06269</a></p>
        </div>
      </div>
    </div>
  </section>
</div>
