<div>
  <div class="container-fluid h-100">
    <div id="whitebg"></div>
    <div id="blackbg"></div>
    <div id="makered"></div>

    <div id="hidden"></div>
    <div
      class="d-flex flex-row px-lg-5 px-4 py-lg-0 py-5 justify-content-between align-items-center"
    >
      <h1 class="hero-text text-start w-50">
        Invest&nbsp;in <br />
        Startups
      </h1>
      <h1 class="hero-text-xl">/</h1>
      <h1 class="hero-text h-t-a text-end w-50">
        Find <br />
        Investors
      </h1>
    </div>
  </div>

  <section class="m-0 m-lg-5">
    <div class="d-flex flex-row">
      <div
        class="p-2 border border-dark border-start-0 border-1 border-lg-2 w-50 p-lg-5 p-md-3"
      >
        <p class="fS-1">
          Next Gen Startups <br />
          Raise Funds from the <br />
          Community
        </p>
      </div>

      <div
        class="d-flex flex-column gap-4 p-2 p-lg-5 p-md-3 justify-content-center border border-dark border-start-0 border-end-0 border-1 border-lg-2 w-50"
      >
        <p class="fs-1">Invest in the Future you believe in</p>
        <div class="d-flex flex-row align-items-center">
          <div
            class="poly d-inline-flex justify-content-start px-4 align-items-center text-light"
          >
            <span class="fs-lg-2">Get Started</span>
          </div>
          <div class="d-flex flex-row position-absolute">
            <span class="arrow1"></span>
            <span class="arrow2"></span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="p-5 border border-dark border-top-0 border-start-0 border-end-0 border-1 border-lg-2"
    >
      <h1 class="text-center">OUR PARTNERS</h1>
      <div class="text-center">logos here</div>
    </div>
  </section>

  <section>
    <div class="mt-lg-5 py-lg-5">
      <p class="fS-1 container text-center text-wrap">
        Explore,Invest,Diversify and Participate in the
        <strong>Next Big Thing</strong>
      </p>
    </div>
  </section>

  <section style="background-color: var(--dark-bg)">
    <!-- <div
      class="container-fluid d-flex flex-row justify-content-between p-5 p-lg-4 mt-5 mb-5"
    >
      <div class="p-xxl-5 p-lg-4 w-50">
        <h2 class="text-light mb-5">Investors</h2>
        <ul class="body-list text-light fs-5">
          <li>Now anybody can invest in startup.</li>
          <li>
            Diversify you portfolio with startups, starting with just ₹ 1000.
          </li>
          <li>Empowering women entrepreneurs with SheEO initiative.</li>
          <li>Invest alongside institutions and marquee investors.</li>
          <li>Invest in the future you believe in.</li>
        </ul>
        <span><a href="" class="info">More Info</a></span>
      </div>
      <div class="p-xxl-5 p-lg-1 d-flex align-items-center">
        <div class="img-placeholder container-sm"></div>
      </div>
      <div class="p-xxl-5 p-lg-4 w-50">
        <h2 class="text-light mb-5">Founders</h2>
        <ul class="body-list text-light fs-5">
          <li>Raise funds withiin days, not months, on your condition.</li>
          <li>Clean and crisp cap table.</li>
          <li>
            No matter what round of investment you are raising, we got you
            covered.
          </li>
          <li>Raise funds from community and market your brand</li>
          <li>Acquire new customers through exposure on Pepcorns</li>
        </ul>
        <span><a href="" class="info">More Info</a></span>
      </div>
    </div> -->

    <div class="p-lg-5 m-lg-5">
      <h1 class="text-center text-light">Choose from 10+ Segments</h1>
      <div class="row row-cols-2 justify-content-center gap-3 m-lg-5 p-3">
        <div
          class="crd col d-flex flex-column gap-4 align-items-center p-lg-5 p-2 w-lg-25"
        >
          <span class="material-symbols-outlined text-dark fS-1">
            smart_toy
          </span>
          <span class="fs-6 text-light">Artificial Intelligence</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd col d-flex flex-column gap-4 align-items-center p-lg-5 p-2 w-lg-25"
        >
          <span class="material-symbols-outlined text-dark fS-1">
            local_shipping
          </span>
          <span class="fs-6 text-light">Mobility</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd col d-flex flex-column gap-4 align-items-center p-lg-5 p-2 w-lg-25"
        >
          <span class="material-symbols-outlined text-dark fS-1">
            home_iot_device
          </span>
          <span class="fs-6 text-light">Hardware and IoT</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd col d-flex flex-column gap-4 align-items-center p-lg-5 p-2 w-lg-25"
        >
          <span class="material-symbols-outlined text-dark fS-1">
            biotech
          </span>
          <span class="fs-6 text-light">Biotechnology</span>
          <span class="text-light">10+ Startups</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center gap-5 p-5 mt-5">
      <h1 class="text-light text-center">Get Notified about Startups</h1>
      <div class="d-flex flex-row">
        <input type="email" placeholder="example@mail.com" />
        <button class="primaryBtn">Subscribe</button>
      </div>
    </div>
  </section>
</div>
