<div>
  <div class="container-fluid h-100">
    <div id="whitebg"></div>
    <div id="blackbg"></div>
    <div id="makered"></div>

    <div id="hidden"></div>
    <div
      class="d-flex flex-row p-lg-5 px-md-5 py-sm-0 px-5 py-5 p-0 justify-content-between align-items-center"
    >
      <h1 class="hero-text text-start w-50">
        Invest&nbsp;in <br />
        Startups
      </h1>
      <h2 class="hero-text-xl">/</h2>
      <h2 class="hero-text h-t-a text-end w-50">
        Find <br />
        Investors
      </h2>
    </div>
  </div>

  <section class="m-0 m-lg-5">
    <div class="row row-cols-md-2 row-cols-1 w-100">
      <div
        class="col-12 border border-dark border-start-0 border-1 border-lg-2 p-3 p-sm-5"
      >
        <p class="fS-1">Next Gen Startups Raise Funds from the Community</p>
      </div>

      <div
        class="col-12 d-flex flex-column gap-4 p-3 p-sm-5 justify-content-center border border-dark border-start-0 border-end-0 border-1 border-lg-2"
      >
        <p class="fs-1">Invest in the Future you believe in</p>

        <div class="d-flex flex-row align-items-center">
          <a href="https://app.pepcorns.com/#!/login">
            <div
              class="poly d-inline-flex justify-content-start px-4 align-items-center text-light"
              style="cursor: pointer"
            >
              <p class="fs-5">Get Started</p>
            </div></a
          >

          <div class="d-flex flex-row position-absolute">
            <span class="arrow1"></span>
            <span class="arrow2"></span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="p-5 border border-dark border-top-0 border-start-0 border-end-0 border-1 border-lg-2"
    >
      <h1 class="text-center">OUR PARTNERS</h1>
      <div class="text-center">logos here</div>
    </div>
  </section>

  <div class="mockup">
    <div class="mt-lg-5 py-lg-5" style="height: 500px">
      <p class="fS-1 container text-center text-wrap">
        Explore,Invest,Diversify and Participate in the
        <strong>Next Big Thing</strong>
      </p>
    </div>

    <div
      style="background-color: var(--dark-bg); height: 60vh"
      class="position-relative mt-5 py-5 d-flex justify-content-center"
    >
      <img
        src="./assets/mockup1.png"
        alt=""
        class="position-absolute img-fluid"
        style="top: -50%"
      />
    </div>
  </div>

  <div class="mockup2">
    <div class="mt-lg-5 py-lg-5" style="height: 400px">
      <p class="fS-1 container text-center text-wrap">
        Explore,Invest,Diversify and Participate in the
        <strong>Next Big Thing</strong>
      </p>
    </div>
    <div
      style="background-color: var(--dark-bg); height: 40vh"
      class="position-relative mt-5 py-5 d-flex justify-content-center"
    >
      <img
        src="./assets/mockup2.png"
        alt=""
        class="position-absolute img-fluid"
        style="top: -50%"
      />
    </div>
  </div>

  <section style="background-color: var(--dark-bg)" class="s-scroll">
    <div class="d-flex flex-column gap-5">
      <div
        class="container-lg d-flex flex-row align-items-center justify-content-center p-5 p-lg-5 gap-5 fade"
      >
        <div class="p-xxl-5 p-lg-4 w-50">
          <div class="mb-5">
            <h2 class="text-light fs-1">Investors</h2>
            <hr />
          </div>
          <ul class="body-list text-light fs-5">
            <li>Now anybody can invest in startup.</li>
            <li>
              Diversify you portfolio with startups, starting with just ₹ 1000.
            </li>
            <li>Empowering women entrepreneurs with SheEO initiative.</li>
            <li>Invest alongside institutions and marquee investors.</li>
            <li>Invest in the future you believe in.</li>
          </ul>
          <span
            ><a href="#!/knowledgebase/investors" class="info"
              >More Info</a
            ></span
          >
        </div>
        <div class="p-xxl-5 p-lg-1 w-50">
          <div class="text-center">
            <video
              autoplay
              muted
              loop
              class="text-center vi"
              style="width: 80%; height: 50%"
            >
              <source src="./assets/animation2.mov" />
            </video>
          </div>
        </div>
      </div>

      <div
        class="container-lg d-flex flex-row align-items-center justify-content-center p-5 p-lg-5 mt-5 mb-5 gap-5 fade"
      >
        <div class="p-xxl-5 p-lg-4 w-50">
          <div class="mb-5">
            <h2 class="text-light fs-1">Founders</h2>
            <hr />
          </div>
          <ul class="body-list text-light fs-5">
            <li>Raise funds withiin days, not months, on your condition.</li>
            <li>Clean and crisp cap table.</li>
            <li>
              No matter what round of investment you are raising, we got you
              covered.
            </li>
            <li>Raise funds from community and market your brand</li>
            <li>Acquire new customers through exposure on Pepcorns</li>
          </ul>
          <span
            ><a href="#!/knowledgebase/company" class="info">More Info</a></span
          >
        </div>
        <div class="p-xxl-5 p-lg-1 w-50">
          <div class="text-center">
            <video
              autoplay
              muted
              loop
              class="text-center vi"
              style="width: 80%; height: 50%"
            >
              <source src="./assets/animation1.mov" />
            </video>
          </div>
        </div>
      </div>
    </div>

    <div class="p-md-3 m-md-2">
      <h1 class="text-center text-light">Choose from 10+ Segments</h1>
      <div
        class="d-flex flex-row flex-wrap justify-content-center gap-3 m-lg-5 p-3"
      >
        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1">
            smart_toy
          </span>
          <span class="fs-4 text-light">Artificial Intelligence</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1">
            local_shipping
          </span>
          <span class="fs-4 text-light">Mobility</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1">
            home_iot_device
          </span>
          <span class="fs-4 text-light">Hardware and IoT</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1"> biotech </span>
          <span class="fs-4 text-light">Biotechnology</span>
          <span class="text-light">10+ Startups</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a href="https://app.pepcorns.com/#!/home/allcamp">
        <button class="secondaryBtn">More</button>
      </a>
    </div>
  </section>

  <section style="background-color: var(--dark-bg)" class="h-scroll">
    <div class="d-flex flex-column gap-5">
      <div
        class="container-sm d-flex flex-column align-items-center justify-content-center gap-3"
      >
        <div class="p-xxl-5 p-lg-4 p-sm-4 p-2 w-75">
          <div class="mb-5">
            <h2 class="text-light fs-1">Investors</h2>
            <hr />
          </div>
          <ul class="body-list text-light fs-5">
            <li>Now anybody can invest in startup.</li>
            <li>
              Diversify you portfolio with startups, starting with just ₹ 1000.
            </li>
            <li>Empowering women entrepreneurs with SheEO initiative.</li>
            <li>Invest alongside institutions and marquee investors.</li>
            <li>Invest in the future you believe in.</li>
          </ul>
          <span
            ><a href="#!/knowledgebase/investors" class="info"
              >More Info</a
            ></span
          >
        </div>
        <div class="text-center">
          <video
            autoplay
            muted
            loop
            class="text-center vi rounded"
            style="width: 80%; height: 50%"
          >
            <source src="./assets/animation2.mov" />
          </video>
        </div>
      </div>

      <div
        class="container-sm d-flex flex-column align-items-center justify-content-center gap-3"
      >
        <div class="p-xxl-5 p-lg-4 p-sm-4 p-2 w-75">
          <div class="mb-5">
            <h2 class="text-light fs-1">Founders</h2>
            <hr />
          </div>
          <ul class="body-list text-light fs-5">
            <li>Raise funds withiin days, not months, on your condition.</li>
            <li>Clean and crisp cap table.</li>
            <li>
              No matter what round of investment you are raising, we got you
              covered.
            </li>
            <li>Raise funds from community and market your brand</li>
            <li>Acquire new customers through exposure on Pepcorns</li>
          </ul>
          <span
            ><a href="#!/knowledgebase/company" class="info">More Info</a></span
          >
        </div>
        <div class="text-center">
          <video
            autoplay
            muted
            loop
            class="text-center vi"
            style="width: 80%; height: 50%"
          >
            <source src="./assets/animation1.mov" />
          </video>
        </div>
      </div>
    </div>

    <div class="p-md-3 m-md-3 mt-5">
      <h1 class="text-center text-light">Choose from 10+ Segments</h1>
      <div
        class="d-flex flex-row flex-wrap justify-content-center gap-3 m-lg-5 p-3"
      >
        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1">
            smart_toy
          </span>
          <span class="fs-4 text-light">Artificial Intelligence</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1">
            local_shipping
          </span>
          <span class="fs-4 text-light">Mobility</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1">
            home_iot_device
          </span>
          <span class="fs-4 text-light">Hardware and IoT</span>
          <span class="text-light">10+ Startups</span>
        </div>

        <div
          class="crd d-flex flex-column gap-4 align-items-center p-lg-5 p-md-5 p-sm-5 py-4"
        >
          <span class="material-symbols-outlined icon-seg fs-1"> biotech </span>
          <span class="fs-4 text-light">Biotechnology</span>
          <span class="text-light">10+ Startups</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a href="https://app.pepcorns.com/#!/home/allcamp">
        <button class="secondaryBtn">More</button>
      </a>
    </div>
  </section>
</div>
