<div>
  <section>
    <div class="d-flex flex-row p-5 gap-5">
      <div class="sideNav">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
                ng-click="setSubMenuIndex(1)"
              >
                For Investors
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne"
            >
              <div class="accordion-body">
                <ul>
                  <li ng-click="setSubMenuIndex(2)">How It Works</li>
                  <li>Safe notes</li>
                  <li>Earning a return</li>
                  <li>Pepcorns Fee</li>
                  <li>Risks</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo"
              >
                For Companies
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo"
            >
              <div class="accordion-body"></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="isSetSubMenuIndex(1)" class="d-flex flex-row gap-5">
        <div
          class="p-5 border border-grey border-1 rounded-2 d-flex flex-column gap-3"
        >
          <h1>For Investors 💵</h1>

          <p class="text-muted fs-4">
            Everything you need to know about investing on Pepcorns.
          </p>

          <p>
            <strong
              >Pepcorns: Enabling people to invest in future, invest in startups
              they believe in.</strong
            >
          </p>

          <hr />
          <h2>Overview</h2>
          <ul class="mt-4 mb-4 d-flex flex-column gap-4 list-style">
            <li class="list-style">
              Explore highly vetted startups raising funds on Pepcorns.
            </li>
            <li class="list-style">
              Read about their business models, market strategies, and how they
              are impacting the world.
            </li>
            <li class="list-style">
              Explore seamless opportunities with them, guide them on their
              journey and help them grow. As these companies grow and succeed,
              their investors will share in that economic success.
            </li>
            <li class="list-style">
              You decide which company deserves funding. Business success earns
              you rewards and money. You lose all your money if it doesn't do
              well. Either way, you join a community of other investors 'the
              crazy ones' who are eager to help a startup succeed.​
            </li>
          </ul>
          <hr />

          <h2><strong>Why should you invest in Startups?</strong></h2>
          <p>
            ​Many of those who fund startups do so for several reasons: few feel
            moral obligation, few do it because they genuinely believe in the
            concept, few take pride in what they do, few do it to diversify
            their portfolio and most to gain personal wealth. Yeah... if you
            invest wisely, you can make profit on your investment if the company
            grows and becomes more successful. <br />
            We recommend, invest only in what you love and understand (/you've
            expertise in). If you don’t understand it, it may be a bad idea to
            invest. <br />
            Investing should not be solely about earning a return. To invest in
            something as risky as a startup, you need more than conviction. It’s
            pretty cool to learn about future industries when founders post
            updates.​​
          </p>

          <h2>
            <strong>What sorts of companies you would be investing in?</strong>
          </h2>
          <p>
            We look for 'Spark' + 'Awww' factor. It's our promise, every company
            you would see here on Pepcorns would be of next generation (driving
            innovation). You can expect anything and everything from medicines
            to pizza, from dog wellness products to cat shampoo, from space
            ships to red planet hotel chains, from robots to the next big
            crypto, everything is on the horizon.
          </p>

          <h2>
            <strong>How much can I invest?</strong>
          </h2>
          <p>
            ​Now anybody can invest in their favourite startup, starting with as
            little as ₹1000. This token size varies depending on your risk
            appetite, sky is the limit.
          </p>

          <h2><strong>What happen to the funds after you invest</strong></h2>
          <p>
            Once you make an investment, funds will be held in an escrow
            account. The funds will be released from this account to the company
            after the campaign ends.
          </p>

          <h2><strong>How perks, rewards, and equity works?</strong></h2>
          <p>
            ​Everything you invest in is aligned with rewards and benefits.
            Rewards include premium membership, early access deals and more. If
            you are HNIs​(Accredited), you may directly invest in equity.
            Investors, those who could not invest directly in equity, we invest
            a little chunk for them, which is distributed among all investors
            when we exit.
            <i> <strong> Yeah... reward bhi profit bhi!</strong> </i>
          </p>
        </div>
        <div class="w-100">
          <p><strong>ON THIS PAGE</strong></p>
          <a href="index.html#!/knowledgebase/investors/#1"
            ><p class="text-muted">
              <strong> Cancelling an investment</strong>
            </p></a
          >
          <a href="index.html#!/knowledgebase/investors/#2"
            ><p class="text-muted">
              <strong> Can the startup reject my investment?</strong>
            </p></a
          >
        </div>
      </div>
      <div ng-if="isSetSubMenuIndex(2)" class="d-flex flex-row gap-5">
        <div class="p-5 border border-grey border-1 rounded-2">
          <h1>How it works? 🤷‍♀️</h1>
          <p class="text-muted fs-4">
            Process involved in investing in companies on Pepcorns
          </p>
          <p>
            While building Pepcorns, our focus was on democratizing the startup
            funding with fast transaction deal flows. Traditional funding deals
            take months to finalize and execute. And so, we have made the
            process 'simple and minimal' with all necessary compliances.
            <br />
            <br />
            Giving everyone access to startup investing, and levelling the
            playing field for startup fundraising.
          </p>
          <hr />
          <ul class="mt-4 mb-4 d-flex flex-column gap-4">
            <li class="list-style">
              <strong>Create an account: </strong> Sign up, and get your free
              account. Complete the required details to get started, and you're
              ready to drive the change!
            </li>
            <li class="list-style">
              <strong>Explore Startups: </strong>
              Browse from a curated list of startups, which are of your
              interest.
            </li>
            <li class="list-style">
              <strong>Do your own research: </strong>We recommend investors
              examine startups, check their market presence, look out for moat,
              and vertical they are dealing in. Make sure you understand the
              risks associated with the investment.
            </li>
            <li class="list-style">
              <strong>Invest: </strong>
              As you finalize the startup, choose your amount to invest and
              complete your commitment.
            </li>
            <li class="list-style">
              <strong>Wait for Perks: </strong>
              As startups achieve milestones, they disburse rewards. In the case
              of equity, they sign the term sheet and formalities. In either
              case, to earn well you need to wait and cheer them. In case, the
              company does not reach their minimum funding goal, all funds will
              be returned to the investors within 5 business days.
            </li>
          </ul>
          <hr />
          <h3 id="1"><strong> Cancelling an investment</strong></h3>
          <p>
            You may cancel an investment under 10 days, from the date of
            investment you made. Remember, reducing your investment is
            considered as cancellation. For any such cancellation, you may click
            the given cancel button or write us at Investment@pepcorns.com
          </p>
          <h3 id="2">
            <strong> Can the startup reject my investment?</strong>
          </h3>
          <p>
            Yes, every company reserves the right to reject, in whole or in
            part, any investment commitment at any time before the proceeds are
            drawn from the escrow account. Any rejected investments will be
            returned to the investor in full.
          </p>
        </div>
        <div class="w-100">
          <p><strong>ON THIS PAGE</strong></p>
          <a href="index.html#!/knowledgebase/investors/#1"
            ><p class="text-muted">
              <strong> Cancelling an investment</strong>
            </p></a
          >
          <a href="index.html#!/knowledgebase/investors/#2"
            ><p class="text-muted">
              <strong> Can the startup reject my investment?</strong>
            </p></a
          >
        </div>
      </div>
    </div>
  </section>
</div>
