<div>
  <section>
    <div class="container d-flex flex-column gap-3 p-3">
      <h1 class="fS-1 text-center">PRIVACY POLICY</h1>
      <p>
        We are happy to have you here at Pepcorns. Please note that we provide
        our intermediary services through our website https://pepcorns.com/
        (“Website”).
      </p>
      <p>
        The Website is owned by Pepcorns Technologies Private Limited, a company
        incorporated under the Indian laws (“hereinafter may be referred to as
        the “Company” “We” “Us”, and “Our”). The Company is committed to
        respecting your online privacy and recognizes your need for appropriate
        protection and management of any information you share with the Company
        on and through the Website. This privacy policy (“Policy”) explains how
        the Company will collect, use, share and process information in relation
        to the intermediary services provided on the Website.
      </p>
      <p>
        This Policy shall be deemed to be incorporated into the terms of use of
        the Website (the “Terms of Use”) and shall be read in addition to the
        Terms of Use. In the event of any conflict between this Policy and the
        Terms of Use, the interpretation placed by the Company shall be final
        and binding on you.
      </p>
      <p>
        This Policy is being framed in view of the Information Technology Act,
        2000 read with Regulation 4 of the Information Technology (Reasonable
        Security Practices and Procedures and Sensitive Personal Data or
        Information) Rules, 2011 and Regulation 3(1) of the Information
        Technology (Intermediaries Guidelines and Digital Media Ethics Code)
        Rules, 2021.
      </p>
      <p>
        By accessing, browsing or otherwise using the Website and/or by giving
        the Company your information, you expressly agree to be bound with the
        terms of this Policy. If you do not agree with the terms mentioned
        herein, please exit this Website and restrict your access. By accepting
        this Policy, you understand and agree to the collection, use, sharing
        and processing of personal information as described herein. If you
        provide the Company with personal information about someone else, you
        confirm that (a) such information is accurate and up-to-date; (b) such
        person is aware that you have provided their information; and (c) they
        consent to both the disclosure and the use/processing of their
        information in accordance with this Policy. This Policy applies to all
        the current and former visitors, users and others who access this
        Website.
      </p>
      <p>
        If you are unwilling or unable to be legally bound by this Policy,
        please do not use the Website. You cannot accept this Policy if: (a) you
        are not lawfully entitled to use the Website; or (b) if you are not of
        legal age to form a binding agreement with the Company in accordance
        with the applicable laws.
      </p>

      <ol class="d-flex flex-column gap-5">
        <li>
          <h4>SCOPE OF THIS POLICY</h4>

          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                This Policy is an electronic record in the form of an electronic
                contract formed under the Information Technology Act, 2000 and
                the rules made thereunder. This Policy does not require any
                physical, electronic or digital signature.
              </p>
            </li>

            <li>
              <p>
                By accessing or using the Website or otherwise giving Us your
                information, you undertake that you have the capacity to enter
                into a legally binding contract vide this Policy, which
                constitutes a legally binding document between you and the
                Company under the applicable law, in particular, the Indian
                Contract Act, 1872. The Company will collect and process your
                personal and third-party data carefully, only for the purposes
                described in this Policy and only to the extent necessary as
                defined herein and within the scope of the applicable legal
                regulations. This Policy seeks to ensure that any personal
                information or third-party information handled by the Company is
                managed in a way that is ethical, compliant and adheres to best
                industry practices.
              </p>
            </li>

            <li>
              <p>
                Please read the terms and conditions of this Policy carefully,
                before accessing or using this Website. By accessing or using
                the Website including its intermediary services, you agree to
                the terms of this Policy. If you are accepting this Policy on
                behalf of another person or company or other legal entity, you
                represent and warrant that you have full authority to bind such
                person, company or legal entity to these terms.
              </p>
            </li>

            <li>
              <p>
                This Policy describes the types of information the Company
                collects, why and how the Company uses the information, with
                whom the Company shares it, and the choices you can make about
                the Company’s use of the information. This Policy also describes
                the measures the Company takes to protect the security of the
                information and how you can contact the Company about its
                privacy practices.
              </p>
            </li>

            <li>
              <p>
                This Policy describes the Company’s current data protection
                policies and practices and may be amended/updated from time to
                time. Any changes to this Policy will become effective upon
                posting of the revised Policy on the Website. It is recommended
                that you regularly check this Policy to apprise yourself of any
                updates. Your continued use of Website or provision of data or
                information thereafter will imply your unconditional acceptance
                of such updates to this Policy.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>TYPES OF INFORMATION COLLECTED BY THE COMPANY</h4>

          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                Personal Information: Personal Information means any information
                that may be used to identify an individual, including, but not
                limited to, the first and last names, billing/alternate address,
                Aadhar number, PAN number, state, ZIP/Postal code, city,
                telephone number, mobile number, date of birth, age, gender,
                e-mail address, or any other information. The Company limits the
                collection of Personal Information which is necessary for its
                intended purpose.
              </p>
            </li>

            <li>
              <p>
                Sensitive Personal Information: Sensitive Personal Information
                of a person means Personal Information about that person
                relating to: passwords, financial information (bank accounts, or
                other payment instruments), biometric information, physical
                information including GPS location, device ID.
              </p>
            </li>

            <li>
              <p>
                Non-Personal Information: Non-personal information means
                information that does not specifically identify an individual or
                business, but includes information from you, such as your
                browser type, the URL of the previous websites you visited, your
                internet service provider (ISP), operating system & version and
                your internet protocol (IP) address, devise location,
                information about your mobile devise including hardware model,
                preferred language, unique devise identifier, information you
                provide us when you contact Us for help; information you enter
                into our system when using the Website, such as while asking
                doubts, participating in discussions and taking tests and any
                other information you may give on and through the Website. The
                Company may gather any non-personal information regarding how
                many people visit the Website, the pages you visit, how long you
                visited our Website, the date and time you used the Website. The
                Company may also collect Non-Personal Information that you
                voluntarily provide, such as information included in response to
                a questionnaire or a survey conducted by the Company.
              </p>
            </li>

            <li>
              <p>
                Business Information: Business Information means any information
                that may be used to identify an individual’s business, including
                but not limited to the name and address of the entity, date of
                incorporation, PAN number, e-mail address of the entity, contact
                information of the registered office, financial information
                including bank account details and such other information
                (hereinafter referred to as “Business Information”).
              </p>
            </li>

            <li>
              <p>
                Usage Information: Usage Information includes without limitation
                all data and information collected automatically through the
                Website (or through the third party analytics service
                providers), by use and access of the Website in the nature of
                system administrative data, statistical and demographical data,
                and operational information and data generated by or
                characterizing use of the Website including without limitation,
                Non-Personal Information, cookies, your search queries,
                comments, search results selected, number of clicks, pages
                viewed and the order of those pages, error logs, Website
                traffic, time spent on the Website, number of visits to the
                Website and other similar information and behaviour indicating
                the mode and manner of use of the Website.
              </p>
            </li>

            <li>
              <p>
                Personal Information, Business Information, Sensitive Personal
                Information, Non-Personal Information and Usage Information
                hereinafter shall be referred to as “Information”. The Company
                limits the collection of Information which is necessary for its
                intended purpose.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>CONSENT</h4>

          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                By mere use of the Website, you expressly consent to the
                Company’s use, access, processing and disclosure of your
                Information and third-party information in accordance with this
                Policy. If you do not agree with the terms of this Policy,
                please do not use this Website.
              </p>
            </li>

            <li>
              <p>
                In case you wish to avail any or all of the intermediary
                services provided by the Company on the Website, the Company
                shall provide a username and password to you (“Login
                Credentials”) as set out in the Terms of Use. You may be
                required to fill in the Information on the Website including
                full name, email address, mobile number and/or a one-time
                password sent on your mobile number to set up your account on
                the Website. You hereby explicitly agree that your use and
                access of the Login Credentials shall be governed by the Terms
                of Use read with the terms of this Policy and any other
                agreement that you may enter into with the Company. You should
                not share your Login Credentials, one-time password or other
                security information for your account with anyone. If we receive
                instructions using your Login Credentials, we will consider that
                you have authorized the instructions.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>COLLECTION OF INFORMATION</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                The Company may collect Information from you when you (a)
                register on the Website; (b) update or change personal details
                in your account; (c) use the Website for any of the intermediary
                services being offered thereon; (d) voluntarily participate in
                campaigns conducted by the Company on the Website or respond to
                questionnaires published by the Company on the Website (if any);
                (e) voluntarily complete a customer survey or provide feedback
                on any of our message boards or via e-mail in relation to the
                products and intermediary services provided on the Website; and
                (f) when you carry out transactions on the Website.
              </p>
            </li>

            <li>
              <p>
                You hereby acknowledge and agree that all Information is
                provided by you to the Company voluntarily and the Information
                provided by you is not subject to any undue influence.
              </p>
            </li>

            <li>
              <p>
                The Company may use cookies to monitor the Website usage
                including, without limitation, to provide useful features to
                simplify your experience when you return to the Website, like
                remembering your Login Credentials, Information and to deliver
                relevant content based on your preferences, usage patterns and
                location.
              </p>
            </li>

            <li>
              <p>
                You are also required to provide your billing address as well as
                debit card details which may be aligned with third party payment
                wallets/gateways. The Company will use this Information only for
                processing billings. For your convenience, this third party
                payment wallets/gateways saves the billing information and
                remembers certain details of the payment choices made by you in
                the event you would like to carry out any other transaction on
                the Website again.
              </p>
            </li>

            <li>
              <p>
                The Company may also collect Non-Personal Information or Usage
                Information based on your browsing activity and in relation to
                your use or access to the Website which may or may not be
                publicly accessible.
              </p>
            </li>

            <li>
              <p>
                Information collected by the Company from a particular browser
                or device may be used with another computer or device that is
                linked to the browser or device on which such information was
                collected.
              </p>
            </li>

            <li>
              <p>
                You may use the Website without providing the Company any
                Information about yourself. However, you may not be able to
                access certain intermediary services of the Website in case you
                choose to do so.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>USE OF INFORMATION</h4>

          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                The Company uses the Information you provide to: (a) manage your
                account; (b) fulfil your requests for the services offered on
                the Website (including to manage payments, fees and charges and
                collect and recover money owed to the Company); (c) respond to
                your inquiries about its offerings and the transactions carried
                out on the Website; (d) provide you with information about
                products and intermediary services available on the Website and
                offer you other services that the Company believes may be of one
                interest to you; (e) resolve any glitches on the Website
                including addressing any technical problems; (f) improve the
                intermediary services and content on the Website and your
                experience of navigating through the Website and carrying out
                transactions on the Website; (g) administer the Website; (h)
                learn about each user’s learning patterns and movements around
                the Website; and (g) manage the Company’s relationship with you.
              </p>
            </li>

            <li>
              <p>
                The Company may use the Information to monitor your use of the
                Website and may review and analyse the Information to provide
                you with customized service.
              </p>
            </li>

            <li>
              <p>
                The Company may use your Non-Personal Information or Usage
                Information for internal business purposes, such as data
                analysis, research, developing new products and/or features,
                enhancing and improving existing products and intermediary
                services and identifying usage trends.
              </p>
            </li>

            <li>
              <p>
                Subject to and in accordance with applicable laws, the Company
                has the right to use your Information for the purpose of
                conducting promotional/marketing related activities on the
                Website, including but not limited to, using your Personal
                Information for making posters/banners to promote the services
                of the Company.
              </p>
            </li>

            <li>
              <p>
                When you send an email message or otherwise contact the Company
                through its Website, the Company may use the Information
                provided by you to respond to your communication. The Company
                may also archive such Information and/or use it for future
                communications with you to inform you regarding updates,
                newsletters, offers, new services and promotions via SMS,
                WhatsApp, Facebook, Instagram, Email, and phone calls .
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>INFORMATION SHARING</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                The Company maintains your Information in electronic form on its
                devices and equipment. The Information is made accessible to
                employees, agents or partners and third-parties only on a
                need-to-know basis.
              </p>
            </li>

            <li>
              <p>
                The Company does not rent, sell, or share Information with third
                parties or with other non-affiliated entities, except with your
                consent.
              </p>
            </li>

            <li>
              <p>
                The Company may engage third party vendors and/or contractors to
                perform certain services, who may have limited access to
                Information.
              </p>
            </li>

            <li>
              <p>
                In order to process your transactions, the Company may direct
                you to a payment gateway service provider of its own choice,
                which may have access to the Information provided by you while
                making such payment.
              </p>
            </li>

            <li>
              <p>
                The Company may share Information with government authorities in
                response to subpoenas, court orders and/or other legal process,
                to establish or exercise legal rights; to defend against legal
                claims; and/or as otherwise required by law. This may be done in
                response to a law enforcement agency's request.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>THIRD PARTY SERVICE PROVIDERS</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                Notwithstanding anything contained hereinto the contrary, it is
                clarified that the Company is merely an intermediary and
                facilitator between Service Provider and the Service Recipient
                listed on the Website. The Company takes no responsibility for
                the actions and/or inactions including any negligence, fraud,
                breach of confidentiality, violation of applicable laws, of such
                Service Provider and the Service Recipient listed on the
                Website. This Policy only regulates and governs the Information
                shared by you on and through the Website and not the Information
                shared by you directly with the Service Provider and/or the
                Service Recipient, as the case may be, listed on the Website.
                You are hereby advised to disclose any Information to the
                Service Provider or the Service Recipient, as the case may be,
                listed on the Website at your own risk. As a result of which, to
                the extent permitted under the applicable laws, the Company
                disclaims any and all liabilities towards any losses, damages,
                costs, compensation, loss of goodwill, reputation and/or any
                expenses incurred by you as a result of the Service Provider or
                the Service Recipient, as the case may be, misuse of your
                Information, breach of safety and security of the Information
                and/or any unlawful action in relation to the Information.
              </p>
            </li>

            <li>
              <p>
                The Company may engage third party vendors and/or contractors to
                perform certain support services for the Company, including,
                without limitation, software maintenance services, advertising
                and marketing services, web hosting services and such other
                related services which are required by the Company to provide
                its intermediary services efficiently. These third parties may
                have limited access to Information. If they do, this limited
                access is provided so that they may perform these tasks for the
                Company and they are not authorized by the Company to otherwise
                use or disclose Information, except to the extent required by
                law. The Company does not make any representations concerning
                the privacy practices or policies or terms of use of such
                websites/third parties, nor does it control or guarantee the
                accuracy, integrity, or quality of the information, data, text,
                software, music, sound, photographs, graphics, videos, messages
                or other materials available on and with such websites/third
                parties.
              </p>
            </li>

            <li>
              <p>
                The Website may contain links and interactive functionality
                interacting with the websites of third parties or third parties
                including without limitation the payment gateways,
                advertisements, social media Websites. The Company is not
                responsible for and has no liability for the functionality,
                actions, inactions, privacy settings, privacy policies, terms,
                or content of any such websites or third parties. Before
                enabling any sharing functions to communicate with any such
                websites or otherwise visiting any such websites, the Company
                strongly recommends that you review and understand the terms and
                conditions, privacy policies, settings, and information-sharing
                functions of each such third-party websites.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>DISCLOSURE TO ACQUIRERS</h4>
          <p>
            The Company may disclose and/or transfer Information to an investor,
            acquirer, assignee or other successor entity in connection with a
            sale, merger, or reorganization of all or substantially all of the
            equity, business or assets of the Company.
          </p>
        </li>

        <li>
          <h4>CONTROL OVER YOUR PERSONAL INFORMATION</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                You have the right to withdraw your consent given for the
                Personal Information at any point, provided such withdrawal of
                the consent is intimated to the Company in writing through an
                email at support@pepcorns.com requesting the same. If you at any
                time wish to rectify your Personal Information, you may write to
                the Company as per the terms of this Policy.
              </p>
            </li>

            <li>
              <p>
                Once you withdraw your consent to share the Personal Information
                collected by the Company, the Company shall have the option not
                to fulfil the purposes for which the said Personal Information
                was sought and the Company may restrict you from using the
                services on the Website and/or the Website itself.
              </p>
            </li>

            <li>
              <p>
                If you wish to delete your account, and thereby discontinue
                using the intermediary services provided by the Company on the
                Website, you may do so at any time, in accordance with the Terms
                of Use and/or any other agreement that you may enter into with
                the Company. In other cases, you may discontinue using the
                services provided by the Company on the Website by writing to
                the Company at support@pepcorns.com.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>RECTIFICATION/CORRECTION OF PERSONAL INFORMATION</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                You shall have a right to access the Personal Information and/or
                Sensitive Personal Information that you have provided to the
                Company through the use of the Website. Further, the Company
                shall provide a copy of the Personal Information and/or
                Sensitive Personal Information, free of charge, in an electronic
                format, upon such request.
              </p>
            </li>

            <li>
              <p>
                You shall have the right to review your Personal Information
                and/or Sensitive Personal Information (as the case may be)
                submitted by you on the Website and to modify or delete any
                Personal Information and/or Sensitive Personal Information (as
                the case may be), provided by you directly on the Website. You
                hereby understand that any such modification or deletion may
                affect your ability to use the Website. Further, it may affect
                the Company’s ability to provide its intermediary services to
                you.
              </p>
            </li>

            <li>
              <p>
                The Company reserves the right to verify and authenticate your
                identity and your account Information and/or payment Information
                in order to ensure accurate delivery of services. Access to or
                correction, updating or deletion of your Personal Information
                and/or Sensitive Personal Information (as the case may be) may
                be denied or limited by the Company if it would violate another
                person’s rights and/or is not otherwise permitted by applicable
                law.
              </p>
            </li>

            <li>
              <p>
                If you need to update or correct your Personal Information
                and/or Sensitive Personal Information that the Company may have
                collected to offer you personalized services and offers, you may
                send updates and corrections to the Company at
                support@pepcorns.com citing the reason for such rectification of
                Personal Information and/or Sensitive Personal Information. The
                Company will take all reasonable efforts to incorporate the
                changes within a reasonable period of time.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>TERM OF STORAGE OF PERSONAL INFORMATION</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                The Company shall store your Information at least for such
                period as may be required and permitted by law or for a period
                necessary to satisfy the purpose for which the Information has
                been collected. These periods vary depending on the nature of
                the Information and your interactions with the Company.
              </p>
            </li>

            <li>
              <p>
                You agree that you will not submit any false Information or any
                illegal or damaging content to the Website. The Company reserves
                the right to terminate access to or the ability to interact with
                the Website in response to any concerns the Company may have
                about false, illegal, or damaging content submitted by you, or
                for any other reason, in its sole discretion.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>COOKIES</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                To enhance your experience with the Website, many of the
                web/application pages use "cookies” and pixel tags and clear
                gifts on certain pages of the Website. Cookies are text files
                the Company places in your computer's/mobile’s browser to
                maintain your log-in and session details. Company uses three
                types of cookies, necessary session cookies (including username,
                email ID, user access information) which enables Company to
                recognise you and makes it easier for you to return to Website
                and interact with the Company’s services without signing in
                again, and/or preference cookies (including search and browsing
                history) which are stored for the maximum duration permitted by
                law, and/or statistics cookies (including Usage Information such
                as unique request ID, statistical data) which are stored for
                more than 24 hours or the maximum duration permitted by law
                (collectively referred to as the “Cookies”).
              </p>
            </li>

            <li>
              <p>
                Cookies, by themselves, do not tell Company your e-mail address
                or other personally identifiable information unless you choose
                to provide this information to Company by, for example,
                registering on the Website and/or by availing the services
                provided by Company. Cookies are designed to hold a marginal
                amount of data specific to a particular user and website and can
                be accessed either by the web server or the user device.
                However, once you choose to furnish the Website with personally
                identifiable information, this information may be linked to the
                data stored in the Cookies. Company uses Cookies to understand
                site usage and to improve the content and offerings on the
                Website. For example, Company may use Cookies to personalize
                your experience on the Website (e.g., to recognize you by name
                when you return to the Website). Company also may use Cookies to
                offer you products, programs, or services. Cookies may be placed
                on the Website by third-parties as well, the use of which
                Company does not control. You are free to accept or refuse the
                use of Cookies via the cookie banner that appears when you
                open/access the Website.
              </p>
            </li>

            <li>
              <p>
                Cookies are retained in your browser unless specifically
                deleted, depending on the type of Cookies. If you decline the
                Cookies, you may be unable to use certain features on the
                Website and you may be required to re-enter your password
                frequently. By using or accessing the Website and/or the
                services provided by Company, you hereby explicitly authorise
                Company and give your consent to Company to store, use and
                access Cookies for the purposes outlined in this Policy. Most
                browsers allow you to control Cookies through their settings,
                which may be adapted to reflect your consent to the use of
                Cookies, and they may also enable you to review and erase
                Cookies.
              </p>
            </li>

            <li>
              <p>
                You can manage browser Cookies through your browser settings.
                The 'Help' feature on most browsers will tell you how to prevent
                your browser from accepting new cookies, how to have the browser
                notify you when you receive Cookies, how to disable Cookies, and
                when Cookies will expire. If you disable all Cookies on your
                browser, neither we nor third parties will transfer Cookies to
                your browser. If you do this, however, you may have to manually
                adjust some preferences every time you visit the Website and
                some features and services may not work.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>PROTECTION OF INFORMATION</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                The Company has taken adequate measures to protect the security
                of Information and to ensure that your choices for its intended
                use are honoured. The Company takes robust precautions to
                protect your data from loss, misuse, unauthorized access or
                disclosure, alteration, or destruction.
              </p>
            </li>

            <li>
              <p>
                The Company considers the confidentiality and security of your
                information to be of utmost importance. It, therefore, uses
                industry standards, and physical, technical and administrative
                security measures to keep Information confidential and secure
                and the Company will not share your Information with third
                parties, except as otherwise provided in this Policy. Please be
                advised that, however, while the Company strives to protect
                Information and privacy, the Company cannot guarantee or
                warranty its absolute security when Information is transmitted
                over the internet into the Website. The Company will annually
                evaluate this necessity considering your privacy and our
                relation while keeping the applicable legislation in mind.
                Non-Personal Information will be retained indefinitely.
              </p>
            </li>

            <li>
              <p>
                Access to your online account on the Website is via. your Login
                Credentials which is password protected and this helps to secure
                your account information. You are solely responsible for
                maintaining the confidentiality of your Login Credentials. To
                ensure safety of your Information, you are advised against
                sharing your Login Credentials with anyone. If you suspect any
                unauthorized use of your account, you must immediately notify
                the Company by sending an email to support@pepcorns.com . You
                shall be liable to indemnify the Company for any loss suffered
                by the Company due to such unauthorized use of your account.
              </p>
            </li>

            <li>
              <p>
                For any loss or theft of Information, due to unauthorized access
                to your device through which you use the Website or other
                reasons solely attributable to you, the Company shall not be
                held liable or responsible under any circumstance whatsoever.
                Further, the Company shall not be responsible for any breach of
                security or for any actions of any third parties/vendors or
                events that are beyond the Company’s reasonable control
                including but not limited to acts of government, computer
                hacking, unauthorised access to computer data and storage
                device, computer crashes, breach of security and encryption,
                poor quality of internet service or telephone service of the
                user, etc.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>MINOR</h4>
          <p>
            The Company does not intend to attract anyone under the relevant age
            of consent to enter into binding legal contracts under the laws of
            their respective jurisdictions. The Company does not intentionally
            or knowingly collect Personal Information through the Website from
            anyone under that age. The Company encourages parents and guardians
            to be involved in the online activities of minor to ensure that no
            Personal Information is collected from a minor without their prior
            consent. If you are using the Website on behalf of someone else,
            including but not limited to, on behalf of your minor
            child/children/employer, you represent and warrant that you are
            authorised by such person to accept this Policy on their behalf and
            to consent on behalf of such person to the Company’s use of such
            person’s Personal Information as described in this Policy.
          </p>
        </li>

        <li>
          <h4>LIMITATION OF LIABILITY</h4>
          <ol class="d-flex flex-column gap-3 mt-3">
            <li>
              <p>
                The Company shall not be liable to you for any loss of profit,
                anticipated savings, goodwill, reputation or business
                opportunities or any type of direct or indirect, incidental,
                economic, compensatory, punitive, exemplary or consequential
                losses arising out of performance or non-performance of its
                obligations under this Policy.
              </p>
            </li>

            <li>
              <p>
                The Company is not responsible for any actions or inactions of
                any third parties, that receive your Information.
              </p>
            </li>

            <li>
              <p>
                Notwithstanding anything contained in this Policy or elsewhere,
                the Company shall not be held responsible for any loss, damage
                or misuse of your Information, if such loss, damage or misuse is
                attributable to a Force Majeure Event and/or any third party.
                The term “Force Majeure Event” shall mean any event that is
                beyond the reasonable control of the Company and shall include,
                without limitation, sabotage, fire, flood, explosion, acts of
                God, civil commotion, strikes, lockouts or industrial action of
                any kind, riots, insurrection, war, acts of government, computer
                hacking, civil disturbances, unauthorised access to computer
                data and storage device, computer crashes, breach of security
                and encryption, epidemic, pandemic or national/state lockdown
                due to any reason and any other similar events not within the
                control of the Company and which the Company is not able to
                overcome.
              </p>
            </li>
          </ol>
        </li>

        <li>
          <h4>OPT-OUT</h4>
          <p>
            Once you register as a user on the Website, you may receive
            multimedia text messages as SMS, WhatsApp, Facebook, Instagram,
            Email, and phone calls from the Company on the registered mobile
            number and e-mails on your registered e-mail address. These
            messages, e-mails and calls could relate to your registration,
            transactions that you carry out through the Website and promotions
            that are undertaken by the Company. You have the option to 'opt-out'
            of all Company’s newsletters and other general email marketing
            communications by way of links provided at the bottom of each
            mailer. The Company respects your privacy and in the event that you
            choose to not receive such mailers, the Company shall take all
            adequate steps to remove you from such lists. However, you will not
            be able to opt-out of receiving administrative messages, customer
            service responses or other transactional communications.
          </p>
        </li>

        <li>
          <h4>Testimonials</h4>
          <p>
            We display personal testimonials of satisfied customers on our
            Website in addition to other endorsements. With your consent we may
            post your testimonial along with your name and other information. If
            you wish to update or delete your testimonial, please contact us at
            support@pepcorns.com.
          </p>
        </li>

        <li>
          <h4>CHANGES TO THIS POLICY</h4>
          <p>
            The Company reserves the right to update, change or modify this
            Policy at any time. The Policy shall come to effect from the date of
            such update, change or modification. It is recommended that you
            regularly check this Policy to apprise yourself of any updates. Your
            continued use of the Website or provision of data or Information
            thereafter will imply your unconditional acceptance of such updates
            to this Policy.
          </p>
        </li>

        <li>
          <h4>GOVERNING LAW</h4>
          <p>
            Without reference to any conflict of laws principles, this Policy
            shall be governed by and interpreted and construed in accordance
            with the laws of India. The place of jurisdiction shall exclusively
            be in Kanpur, Uttar Pradesh, India. In the event of any dispute
            arising out of this Policy, the same shall be settled by binding
            arbitration conducted by a sole arbitrator, appointed jointly by
            both parties and governed by the Arbitration and Conciliation Act,
            1996. The seat and venue of arbitration shall be Kanpur, Uttar
            Pradesh, India.
          </p>
        </li>

        <li>
          <h4>GRIEVANCE REDRESSAL MECHANISM</h4>
          <p>
            In accordance with the Information Technology Act, 2000 and Rules
            made thereunder, the name and contact details of the Grievance
            Officer are provided below: <br />
            Name: Mr. Ashish Pathak <br />
            Address: 193 C Block, Panki, Kanpur, Uttar Pradesh – 208020 <br />
            Cell: (+91) 8872806269 <br />
            E-mail: compliance@pepcorns.com
          </p>
        </li>

        <li>
          <h4>CONTACT DETAILS</h4>
          <p>
            If you have any questions or concerns about this Policy, you may
            contact the Company at support@pepcorns.com.
          </p>
        </li>
      </ol>
    </div>
  </section>
</div>
