<div>
  <section>
    <div class="container-sm d-flex flex-column gap-5 p-3">
      <h1 class="fS-1 text-center">REFUND POLICY</h1>
      <p class="fs-5">
        Thank you for investing from our Platform. If for any reason, You are
        not completely satisfied with our services or You wish to cancel any
        investment made from our Platform, We invite You to review our policy on
        refunds and cancellations (“<strong>Policy </strong>”).
      </p>
      <p class="fs-5">
        The following terms are applicable for refund, returns and cancellation:
      </p>
      <ol class="d-flex flex-column gap-5">
        <li>
          <h4>DEFINITION</h4>
          <p>For the purpose of this Policy:</p>
          <ol class="d-flex flex-column gap-3">
            <li>
              <p>
                “Investment” means any investment order/request/booking placed
                by You on the Platform.
              </p>
            </li>
            <li>
              <p>
                “Company” or “We” or “Our” or “Us” refers to Pepcorns
                Technologies Private Limited.
              </p>
            </li>
            <li>
              <p>
                “Force Majeure” shall have the meaning prescribed to it in
                <a class="text-primary" href="#!terms">Terms of Use </a> of the
                Platform.
              </p>
            </li>
            <li>
              <p>
                “Platform” means
                <a href="https://pepcorns.com" class="text-primary"
                  >www.pepcorns.com</a
                >
                (the “Website”).
              </p>
            </li>
            <li>
              <p>
                “You” or “User” or “Your” means any user or individual who has
                successfully placed an Investment through the Platform.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <h4>CANCELLATION POLICY</h4>
          <ol class="d-flex flex-column gap-3">
            <li><p>Cancellation by Investee:</p></li>
            <ol>
              <li>
                <p>
                  If You made any Investment through the Platform and due to
                  some reason (Force Majeure or any other reason) the investee
                  is unable to fulfil the Investment, the Investment will be
                  cancelled and the Investment amount, if already paid, may be
                  refunded to You in accordance with the Policy.
                </p>
              </li>
              <li>
                <p>
                  If You made any Investment through the Platform and due to
                  some reason the investee has made any material changes to the
                  deal offerings, You will receive notification, and You must
                  confirm Your commitment within [5] days of such notification
                  or the Investment will be automatically withdrawn.
                </p>
              </li>
            </ol>
            <li>
              <p>Cancellation by Us:</p>
            </li>
            <ol>
              <li>
                <p>
                  If You made any Investment through the Platform and due to
                  some reason (Force Majeure or any other reason) We are unable
                  to fulfil the Investment, the Investment will be cancelled and
                  the Investment amount, if already paid, may be refunded to You
                  in accordance with the Policy.
                </p>
              </li>
            </ol>
            <li><p>Cancellation by You:</p></li>
            <ol>
              <li>
                <p>
                  For any request for refunds, the User may place a request for
                  refund/cancellation of Investment by writing with valid reason
                  of refunds to Us at [•], within [48] hours from the deadline
                  of the offering on the Platform. We may accept or reject such
                  requests for any reason whatsoever.
                </p>
              </li>
              <li>
                <p>
                  Any refund/cancellation request made after [48] hours from the
                  time of deadline of the offering shall not be entertained by
                  the Company.
                </p>
              </li>
              <li>
                <p>
                  All refund/cancellation requests must be made by the User only
                  from the same e-mail which was used at the time of signing up
                  that is stored with the Company. No refund/cancellation
                  request will be entertained if it is from a different email id
                  or any third party.
                </p>
              </li>
              <li>
                <p>
                  We will contact You if all or any portion of Your Investment
                  is cancelled or if additional information is required to
                  accept Your Investment.
                </p>
              </li>
              <li>
                <p>
                  Notwithstanding anything contained herein to the contrary, the
                  Company shall not be obliged to initiate any refunds of any
                  amounts to any User, for any reason whatsoever.
                </p>
              </li>
            </ol>
            <li>
              <p>
                You understand that it may be difficult to resell securities,
                and You may be restricted from transferring them for one year
                from the date of issue of securities to You.
              </p>
            </li>
            <li>
              <p>
                You understand that after the closing of an offering on the
                Platform, there may or may not be an ongoing relationship
                between the offering company and Us.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <h4>REFUND POLICY</h4>
          <ol class="d-flex flex-column gap-3">
            <li>
              <p>
                Only those Investment which (a) a cancellation request has been
                initiated by Us; or (b) has been requested by You and accepted
                by Us as per the Policy, will be eligible for a refund. We
                reserve the right to accept Your refund requests only in
                exceptional cases.
              </p>
            </li>
            <li>
              <p>
                You will be informed of such refunds through the registered
                e-mail address that was used at the time of signing-up or in
                such other manner as may be indicated by Us.
              </p>
            </li>
            <li>
              <p>
                In case the payment mode of the cancelled Investment is online
                (credit card/debit card/net banking or any other online payment
                facility provided by Us) the transaction amount will be refunded
                to Your bank account. Please note that the refunds cannot be
                processed to third-party accounts. The name on your Platform
                account should match with the name of the bank account holder.
              </p>
            </li>
            <li>
              <p>
                If the services were provided as a part of a promotional offer,
                loyalty scheme or any type of benefits, there will be refund
                only to the extent of the actual money paid by the User.
              </p>
            </li>
            <li>
              <p>
                If a transaction was made fraudulently then the Company reserves
                the right to cancel any of the services/Investments and not
                issue any refund.
              </p>
            </li>
            <li>
              <p>
                Refund will be done within [7-10] business days from the date of
                acceptance of the request by Us, if found eligible.
              </p>
            </li>
            <li>
              <p>
                All decisions in relation to the
                cancellation/refund/return/replacement requests made by Us shall
                be final and binding. You agree not to challenge such decisions
                in any manner whatsoever.
              </p>
            </li>
            <li>
              If you seek any clarifications in regards to the Policy, please
              write to us at [•].
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </section>
</div>
