<div>
  <section>
    <div class="container d-flex flex-column gap-3">
      <h1 class="fS-1 text-center">RISK POLICY</h1>
      <p>
        This risk policy (“Policy”) forms an integral part of the Terms of Use
        and governs the use of Platform. Accordingly, the Policy sets out
        mandatory standards of conduct that are expected from users of the
        Platform (“Users” or “You” or “Your”) and discloses, without limitation,
        specific measures implemented to ensure the aforesaid standards on the
        Platform.
      </p>
      <p>
        The words used in capitalized term which are not defined in this Policy
        is defined under Terms of Use of the Platform.
      </p>
      <p>
        <strong
          >Investing money in unlisted companies (particularly start-ups and
          early stage businesses) can be very rewarding, however, it also
          involves a number of risks.</strong
        >
      </p>
      <p>
        The purpose of this risk warning is to ensure that You, as a potential
        investor, understand the risks involved. If you choose to invest through
        this Platform, there are the following important considerations you need
        to understand and accept (The foregoing risks do not purport to be a
        complete explanation of all the risks involved in securities in a
        startup. Each User is urged to seek their own independent legal and tax
        advice and read the relevant investment documents before deciding to
        invest in a start-up through Platform):
      </p>
      <ol class="d-flex flex-column gap-5 mt-4">
        <li>
          <h4>LOSS OF CAPITAL</h4>
          <p>
            Start-ups, early stage and later stage may fail, and if You invest
            in a business through Platform, You accept that if a business fails
            You will lose all of Your investment. You should not invest more
            money through the Platform than You can afford to lose without
            having to alter Your standard of living.
          </p>
        </li>

        <li>
          <h4>LIQUIDITY</h4>
          <p>
            The investment opportunities on the Platform are private unlisted
            companies and will be of limited liquidity. Investors in unlisted
            companies may normally expect to sell/realise their investment when
            and if the company floats on a publicly listed stock exchange, or is
            bought by another company, which often takes a number of years from
            the initial investment.
          </p>
        </li>

        <li>
          <h4>DIVIDENDS</h4>
          <p>
            Unlisted companies particularly start-up and early-stage businesses
            rarely pay dividends. If they do pay dividends then the level will
            depend on the success of the investee company which may take some
            years to achieve, if at all. Companies have no obligation to pay
            shareholders dividends and generally, investee companies will
            reinvest profits to grow and build shareholder value. This means
            that if You invest in an unlisted company through the Platform, even
            if it is successful, You are unlikely to see any return of capital
            or profit until You are able to sell your shares in the investee
            company. Even for a successful company, this is unlikely to occur
            for a number of years from the time You make Your investment.
          </p>
        </li>

        <li>
          <h4>DILUTION</h4>
          <p>
            Any investment You make through the Platform may be subject to
            dilution. This means that if the company raises additional equity
            funding in the future, it will issue new shares to new investors and
            the percentage of the business You own will decline. Any new shares
            may also allow for certain preferential rights to dividends, sale
            proceeds and other matters. If such rights are exercised by new
            investors this may work to Your disadvantage. If the investee
            company grants options (or similar rights to acquire shares) to
            connected employees, service providers or certain other
            parties/individuals then Your investment may be diluted as a result.
            You recognize that this may limit Your voting power. Your voting
            power may be otherwise limited as mentioned in the offering itself
            and any other agreements You execute.
          </p>
        </li>

        <li>
          <h4>DIVERSIFICATION</h4>
          <p>
            Investing in unlisted companies should be done as part of a
            diversified investment portfolio. Not every type of investment will
            be appropriate for every investor. To spread and therefore alleviate
            risk You should invest smaller amounts in multiple businesses.
            Investing in unlisted companies, particularly start-ups and early
            stage, is a high risk/high reward investment strategy and You should
            invest the majority of Your investment funds in safer, more liquid
            assets.
          </p>
        </li>

        <li>
          <h4>MANAGEMENT AND CUSTOMER ISSUES</h4>
          <p>
            The company's management may be inexperienced and investors will not
            be able to evaluate the company's operating history. Small
            businesses may also depend heavily upon a single customer, supplier,
            or employee whose departure would seriously damage the company's
            profitability. The demand for the company's product may be seasonal
            or be impacted by the overall economy, or the company could face
            other risks that are specific to its industry or type of business.
            The company may also have a hard time competing against larger
            companies that can negotiate for better prices from suppliers,
            produce goods and services on a large scale more economically, or
            take advantage of bigger marketing budgets. Furthermore, a small
            business could face risks from lawsuits, governmental regulations,
            and other potential impediments to growth.
          </p>
        </li>

        <li>
          <h4>TAXATION</h4>
          <p>
            The structure of any investment in a startup may not be tax
            efficient for any particular investor, and no startup guarantees
            that any particular tax result will be achieved. In addition, tax
            reporting requirements may be imposed on investors under the laws of
            the jurisdictions in which investors are liable for taxation.
            Investors should consult their own professional advisors with
            respect to the tax consequences to them of an investment in a
            startup under the laws of the jurisdictions in which the investors
            and/or the startup are liable for taxation.
          </p>
        </li>

        <li>
          <h4>RISK POLICY DISCLAIMERS</h4>
          <ol class="d-flex flex-column gap-3 mt-5">
            <li>
              <p>
                The information provided on the Platform is for sophisticated
                and professional investors only. Neither Company nor the asset
                holding entity is a broker-dealer or an investment advisor or
                their equivalent.
              </p>
            </li>

            <li>
              <p>
                You should speak with Your financial advisor, accountant, and/or
                attorney when evaluating any offering of interests, securities,
                assets or fractional ownership. Neither Company nor asset
                holding entities makes any recommendations or provides advice
                about investments, and no communication, through this Platform
                or in any other medium, should be construed as a recommendation
                for any security, or assets offered on or off this Platform.
                Nothing in this material should be construed as investment or
                tax advice, or a solicitation or offer, or a recommendation to
                buy or sell any securities or assets. The Platform may make
                forward-looking statements. These forward-looking statements
                include, but are not limited to, statements concerning the
                company, property, risk factors, plans, and projections. You
                should not rely on these statements but should carefully
                evaluate the offering materials in assessing any investment
                opportunity.
              </p>
            </li>

            <li>
              <p>
                Any securities on this Platform have not been recommended or
                approved by any regulatory authority. Furthermore, the
                Securities and Exchange Board of India (“SEBI”) does not pass
                upon the merits of any securities offered or the terms of the
                offering, nor does it pass upon the accuracy or completeness of
                any offering document or literature. Any securities on this
                Platform are offered under an exemption from registration;
                however, these security deals are executed through private
                placement rules.
              </p>
            </li>

            <li>
              <p>
                Neither Company nor security holding entities, nor any other
                person or entity assumes responsibility for the accuracy and
                completeness of forward-looking statements. Investments
                displayed on the Platform are not bank deposits, are not
                insured, and are not guaranteed by Company, and may lose value.
              </p>
            </li>

            <li>
              <p>
                Company expressly disclaims all kinds of warranties or
                guarantees expressed or implied related to the good return of
                the investment on Platform.
              </p>
            </li>

            <li>
              <p>
                Company does not warrant that the Services or functions made
                available on the Platform will be error-free or uninterrupted.
                Company does not warrant that the Platform is free from computer
                viruses or other harmful materials. Company does not make any
                representations or assurances regarding the completeness,
                accuracy, adequacy, veracity or reliability of the materials
                used on the Platform. Users may only use the Services and
                content on or provided by Company at their own risk.
              </p>
            </li>

            <li>
              <p>
                None of the information on this Platform takes into account any
                person’s personal objectives, financial situation, or needs and
                You must determine whether the information is appropriate in
                terms of Your particular circumstances.
              </p>
            </li>

            <li>
              <p>
                The distribution of information on the Platform may be
                restricted by local law or regulation in certain locations. This
                information is not intended for access or use by, any person or
                entity in any location other than the specific location chosen
                and persons accessing these pages should inform themselves about
                and observe any restrictions which apply in the location in
                which they are located.
              </p>
            </li>

            <li>
              <p>
                FOR THE AVOIDANCE OF DOUBT, IN LIGHT OF YOUR ACKNOWLEDGMENT OF
                THIS POLICY, YOU AGREE AND ACKNOWLEDGE THAT YOU SHALL HOLD THE
                COMPANY HARMLESS AND SHALL NOT RAISE ANY CLAIM IN RESPECT OF ANY
                OF THE ABOVE.
              </p>
            </li>

            <li>
              <p>
                NOTHING CONTAINED ON THE PLATFORM SHOULD BE CONSTRUED AS AN
                AUTHORIZATION BY THE SEBI TO SOLICIT INVESTMENTS NOR SHOULD THE
                PLATFORMS BE CONSTRUED AS A SEBI AUTHORIZED CROWDFUNDING
                PLATFORM OR A STOCK EXCHANGE, OR THEIR EQUIVALENT. THE PLATFORM
                IS USED BY US TO PROVIDE SERVICES TO OUR REGISTERED USERS, AND
                WE DO NOT SEEK TO SOLICIT INVESTMENTS FROM THE PUBLIC AT LARGE.
              </p>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </section>
</div>
