<div>
  <div class="carousel container-sm">
    <ul class="carousel__list container-sm">
      <li class="carousel__item pos0" data-pos="0"><h1>1</h1></li>
      <li class="carousel__item pos1" data-pos="1"><h1>2</h1></li>
      <li class="carousel__item carousel__item_active pos2" data-pos="2">
        <div class="card_container">
          <div class="card_header">Principle Security Holder</div>
          <div class="card_body">
            Many related articles mention things that have been trending for 3
            years now. And yes, storytelling, darkmode, ethical design, unique
            illustrations, and bold typography will remain the defining factor
            digital platform
          </div>
          <div class="card_footer">
            <button class="card_button">Share</button>
          </div>
        </div>
      </li>
      <li class="carousel__item pos3" data-pos="3"><h1>3</h1></li>
      <li class="carousel__item pos4" data-pos="4"><h1>4</h1></li>
    </ul>
    <div class="controllers mt-sm-5 mt-0">
      <button onclick="move(-1)" class="move_control">Prev</button>
      <button onclick="shuffle()" class="shuffle_control">Shuffle</button>
      <button onclick="move(1)" class="move_control">Next</button>
    </div>
  </div>
</div>
